<span role="button"
      class="dropdown-toggle"
      data-toggle="dropdown">
      <i ng-class="socialview.icon"></i>
      {{socialview.name}}
      <i class="h-icon-arrow-drop-down" ng-show="auth.user"></i>
</span>
<ul class="dropdown-menu pull-right" role="menu" ng-show="auth.user">
  <li ng-repeat="view in views"
      ng-class="{selected: view.selected}"
      ng-click="select(view)">
    <i class="viewIcons" ng-class="view.icon"></i>
    {{view.name}}
    <a class="h-icon-cancel pull-right" style="margin: 0 -3px;" ng-show="view.editable && editgroups" ng-click="removeGroup(view)" title="Remove group"></a>
    <a class="h-icon-link pull-right" style="margin: 0 -3px;" ng-show="view.link" ng-click="showGroupLink(view)" title="Get link to group"></a>
  </li>
  <li>
    <a ng-click="groupDialog.visible = true" style="margin-left:-7px;"><i class="h-icon-add"></i> New Group</a>
  </li>
<!--   <li><a class="" ng-click="toggleeditgroups($event)" style="margin-left:-7px;"><i class="h-icon-edit"></i> Edit Groups</a></li> -->
</ul>
