{% extends "layouts/base.html" %}

{% block meta %}
  <link href='//fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
  {{ super() }}
  {% if is_onboarding %}
    <meta name="hypothesis-intent" content="first-run" />
  {% endif %}
  {% if not is_onboarding %}
    <script>
      function hypothesisConfig() { return {firstRun: true} }
    </script>
    <script async defer>
      {% include "embed.js" %}
    </script>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="help-page">
    <div class="help-page-content masthead-small">
      {% include "includes/header.html" %}
    </div>
    <article class="help-page-content">
      {% if is_help %}
        <section class="help-page-section">
          <h2 id="installation" class="help-page-heading">Installation</h2>
          <p class="help-page-lede">There are a couple of installations of Hypothesis to choose from:</p>
          <div class="numbered-list grid">
            <div class="column-desktop-1-2"><div class="numbered-list-item">If you want to annotate and comment on documents then install our browser extension.</div></div>
            <div class="column-desktop-1-2"><div class="numbered-list-item">If you wish to install Hypothesis on your own site then head over to GitHub.</div></div>
          </div>
        </section>
      {% endif %}
      {% if is_onboarding %}
        <section class="help-page-section">

          <h2 id="getting-started" class="help-page-heading">Getting started</h2>
          <p class="help-page-lede">Now you have the extension up and running. It's time to
            start annotating some documents.</p>
          <div class="numbered-list grid">
            <div class="column-desktop-1-2"><div class="numbered-list-item">Create an account using the sidebar on the right of the screen.</div></div>
            <div class="column-desktop-1-2"><div class="numbered-list-item">Go forth and annotate! Enable the sidebar via the button in the location bar.</div></div>
          </div>
        </section>
      {% endif %}
      {% if is_index %}
        <section class="help-page-section">
          <h2 id="getting-started" class="help-page-heading">About this prototype</h2>

<p style="font-size:larger;font-weight:bold">This prototype explores some ideas for a next-gen stream:
</p>

<p style="font-weight:bold">
1. Organize activity primarily by most-recently-annotated URL
</p>

<p style="font-weight:bold">
2. Surface full thread context for recently-annotated URLs
</p>

<p style="font-weight:bold">
3. Provide a leaderboard of most-recently-active users
</p>

<p style="font-weight:bold">
4. Support compound tag filtering
</p>

<p style="font-weight:bold">
5. Sketch some elements of a user profile page (first: activity stats)
</p>

<p style="font-weight:bold">
Try it here: 
<a href="http://h.jonudell.info:5000/stream.alt">/stream.alt</a>
</p>

<p style="font-weight:bold">
This is not intended as a formal UX proposal but rather as a working demo of <i>some</i> of the mechanisms we need to put in place to make the stream a more social experience and a richer reflection of the annotation activity enabled by the product.
</p>


 {% endif %}

</section>


{% endblock %}
