@import "compass/css3/images";

.excerpt {
  position: relative;

  &.show-full-excerpt {
    max-height: 100% !important;
  }

  .more, .less {
    color: rgba(189, 28, 43, 0.7);
    background: #fff;
    font-style: italic;
    font-family: Georgia,"Bitstream Charter","Times","Times New Roman",serif;

    &:hover {
      color: #BD1C2B;
    }
  }

  .more {
    position: absolute;
    bottom: -3px;
    left: 88%;

    &:before {
      opacity: .8;
      content: " ";
      margin-left: -3em;
      padding-right: 40px;
      @include background(linear-gradient(to right, rgba(255, 255, 255, 0), white 50%));
    }
  }
}

.annotation-body {
  &.excerpt {
    .more, .less {
      font-style: normal;
      font-weight: 600;
      font-family: $sans-font-family;
    }

    .more {
      left: 0;
      width: 100%;
      height: 2.6em;
      line-height: 4em;
      text-align: right;
      @include background(linear-gradient(to bottom, rgba(255, 255, 255, 0), white 50%));
    }
  }
}
