@import "compass/css3/images";

.excerpt {
  position: relative;

  &.show-full-excerpt {
    max-height: 100% !important;
  }

  .more, .less {
    color: rgba(189, 28, 43, 0.5);
    background: #fff;
    font-style: italic;
    font-family: Georgia,"Bitstream Charter","Times","Times New Roman",serif;

    &:hover {
      color: #BD1C2B;
    }
  }

  .more {
    position: absolute;
    bottom: -3px;
    left: 88%;

    &:before {
      opacity: .8;
      content: " ";
      margin-left: -3em;
      padding-right: 40px;
      @include background(linear-gradient(to right, rgba(255, 255, 255, 0), white 50%));
    }
  }
}
